
<h1>Welcome to {{title}} !</h1>
<input type="text" (change)="handleInput($event)" [value]="inputValue"/>
<button (click)="changeText()" >Change para tag text</button>
@if(message){
    <p>{{message}} for you </p>
   
}
@else {
    <p>No message available.</p>
    
}
<ul>
    @for(item of listItems; track item;let index = $index, first = $first; let last = $last, even = $even, odd = $odd; let count = $count){
        <li>Item {{item}} in list index={{index}} first={{first}} last={{last}} even={{even}} odd={{odd}} count={{count}}</li>
    }
</ul>
<div>
    <div>
      <input type="radio"  (change)="radioValue.set(1)" [checked]="radioValue() === 1" id="radio1"/>
      <label for="radio1">1</label>
    </div>
    <div>
      <input type="radio" [checked]="radioValue() === 2" (change)="radioValue.set(2)" id="radio2"/>
      <label for="radio2">2</label>
    </div>
    <div>
      <input type="radio" [checked]="radioValue() === 3" (change)="radioValue.set(3)" id="radio3"/>
      <label for="radio3">3</label>
    </div>
    <div>
      <input type="radio" [checked]="radioValue() === 4" (change)="radioValue.set(4)" id="radio4"/>
      <label for="radio4">4</label>
    </div>
  </div>
  <div>
  @switch (radioValue()) {
    @case (1) {
      <span>Case 1</span>
    }
    @case (2) {
      <span>Case 2</span>
    }
    @default {
      <span>Default case (Not 1 or 2)</span>
    }
  }
  </div>

<app-container></app-container>
<!-- <h2>Alok</h2> -->
<!-- <app-nav/> -->